name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            cd ..
            cd /var/www/html
            git checkout main
            git pull
            composer install --no-dev --optimize-autoloader
            npm install
            npm run build
            php artisan route:clear
            php artisan cache:clear
            php artisan config:clear
            php artisan view:clear
            php artisan optimize:clear
